.main-analytics-title p{
    font-size: 17px;
    font-weight: bold;
    color: var(--text);
}
.main-analytics-box{
    margin-top: 20px;
}
.main-analytics-btn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    background: linear-gradient(to bottom right, var(--tealGra), var(--blueGra));
    color: #fff;
    font-size: 9.5px;
    padding: 8px 10px;
    border-radius: 5px;
    width: 80%;
    margin: 23px auto;
    cursor: pointer;
}